<section id="podcast">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <img
                    src="assets/images/adventures.png"
                    alt="Adventures in .NET"
                />
                <h1>Adventures in .NET</h1>
                <hr class="separator-double" />
                <p>
                    <span title="Adventures in .NET" class="text-highlight"
                        ><a
                            href="https://devchat.tv/podcasts/adventures-in-dotnet/"
                            target="_blank"
                            >Adventures in .NET
                        </a></span
                    >
                    is a podcast on everything .NET. It helps introduce
                    beginning coders to .NET and gives .NET ninjas a platform to
                    share how they solved some of their tougher problems. Topics
                    include programming languages, frameworks and software tools
                    in the .NET space.
                </p>
            </div>
        </div>
    </div>
</section>
