<section id="youtube">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <img
                    src="assets/images/give-code.png"
                    class="img-logo-med"
                    alt="Caleb Wells Codes"
                />
                <h1>Caleb Wells Codes</h1>
                <hr class="separator-double" />
                <p>
                    On my
                    <span title="YouTube" class="text-highlight"
                        ><a
                            href="https://www.youtube.com/channel/UC3VKPfYlzHgDzPy24snBimw"
                            target="_blank"
                            >YouTube channel</a
                        ></span
                    >
                    I hope to share some of my knowledge while having fun in the
                    process.
                </p>
                <p>
                    Here is a list of hardware I use for development &amp;
                    recording:
                </p>
                <p class="text-small">
                    <em>
                        The links below are Amazon affiliate links.<br />I may
                        receive a commission if you make a purchase after
                        clicking on one of the links.<br />This will not change
                        the cost for items you purchase through Amazon.</em
                    >
                </p>
                <ul class="youtube">
                    <li>
                        <span title="Alienware Aurora R8" class="text-highlight"
                            ><a href="https://amzn.to/39MqK2t" target="_blank"
                                >Alienware Aurora R8</a
                            ></span
                        >
                    </li>
                    <li>
                        <span title="HP Spectre x360" class="text-highlight"
                            ><a href="https://amzn.to/39OZZuy" target="_blank"
                                >HP Spectre x360</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Herman Miller Embody Chair"
                            class="text-highlight"
                            ><a href="https://amzn.to/37M9t7c" target="_blank"
                                >Herman Miller Embody Chair</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Planar Systems PX2710MW 27 Inch Monitor"
                            class="text-highlight"
                            ><a href="https://amzn.to/3giaFTk" target="_blank"
                                >Planar Systems PX2710MW 27" Monitor</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="ASUS VS247 23.6 Inch Monitor x2"
                            class="text-highlight"
                            ><a href="https://amzn.to/3lXsaKd" target="_blank"
                                >ASUS VS247 23.6" Monitor x2</a
                            ></span
                        >
                    </li>
                    <li>
                        <span title="Nura NuraLoop" class="text-highlight"
                            ><a href="https://amzn.to/2JSIqif" target="_blank"
                                >Nura NuraLoop</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Logitech C920 Webcam"
                            class="text-highlight"
                            ><a href="https://amzn.to/3ghurOZ" target="_blank"
                                >Logitech C920 Webcam</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Blue Yeti Nano USB Mic (Red Onyx)"
                            class="text-highlight"
                            ><a href="https://amzn.to/3lOhyx3" target="_blank"
                                >Blue Yeti Nano USB Mic (Red Onyx)</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Microsoft Sculpt Ergonomic Keyboard"
                            class="text-highlight"
                            ><a href="https://amzn.to/39M9iLF" target="_blank"
                                >Microsoft Sculpt Ergonomic Keyboard</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Kensington Pro Fit Ergo Vertical Wireless Trackball"
                            class="text-highlight"
                            ><a href="https://amzn.to/2VKs5yF" target="_blank"
                                >Kensington Pro Fit Ergo Vertical Wireless
                                Trackball</a
                            ></span
                        >
                    </li>
                    <li>
                        <span
                            title="Tonor Adjustable Suspension Boom Scissor Mic Stand"
                            class="text-highlight"
                            ><a href="https://amzn.to/3lOw7R6" target="_blank"
                                >Tonor Adjustable Suspension Boom Scissor Mic
                                Stand</a
                            ></span
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
